# Variabili sensibili - mai committare questo file
.env
 
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
.venv/

# Dati di staging - non committare i dati raw o elaborati, solo il codice
ingestion/staging/

# File di sistema e altri file da ignorare
.DS_Store
**/.DS_Store

# File di documentazione e appunti personali
notes.md

# File per tracciare statistiche di utilizzo di dbt
.user.yml

# File di database DuckDB
*.duckdb
warehouse/*.duckdb

# File di log
logs/

# File di test e dati di test
tests/fixtures/*.parquet