# Variabili sensibili - mai committare questo file
.env
 
# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual environment
.venv/

# Dati di staging - non committare i dati raw o elaborati, solo il codice
staging/

# File di sistema e altri file da ignorare
.DS_Store
**/.DS_Store

# File di documentazione e appunti personali
notes.md